[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
sklearn = "*"
dash = "*"
django = "*"
gunicorn = "*"
flask = "*"
plotly = "*"
seaborn = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
rq = "*"
redis = "*"
flask-caching = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
